main {
    border: 1px red;
    height: 100vh;
}

.p-box {
    border: 1px solid black;
    width: 15px;
    height: 180px;
    margin: 0px auto;
    background-color: black;
}

.light-box {
    border: 1px solid black;
    width: 160px;
    height: 460px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: black;
}

.light-box div {
  
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 15px auto;
}

.red {
    background-color: red;
    opacity: 50%;
}

.yellow {
    background-color: yellow;
    opacity: 50%;
}

.green {
    background-color: green;
    opacity: 50%;
}

.light-on-red {
    background-color: red;
    opacity: 100%;
    box-shadow: -5px 0px 46px 19px rgba(255,31,31,1);
    -webkit-box-shadow: -5px 0px 46px 19px rgba(255,31,31,1);
    -moz-box-shadow: -5px 0px 46px 19px rgba(255,31,31,1);
}

.light-on-yellow {
    background-color: yellow;
    opacity: 100%;
    box-shadow: -5px 0px 46px 19px rgba(255,246,31,1);
-webkit-box-shadow: -5px 0px 46px 19px rgba(255,246,31,1);
-moz-box-shadow: -5px 0px 46px 19px rgba(255,246,31,1);
}

.light-on-green {
    background-color: green;
    opacity: 100%;
    box-shadow: -5px 0px 46px 19px rgba(37,204,21,1);
-webkit-box-shadow: -5px 0px 46px 19px rgba(37,204,21,1);
-moz-box-shadow: -5px 0px 46px 19px rgba(37,204,21,1);
}
